/CalendarListMeta.java
/CalendarMeta.java
/CalendarReminderMeta.java
/ErrorDetailMeta.java
/ErrorMeta.java
/EventDateMeta.java
/EventMeta.java
/GoogleCalendarDtoMapMeta.java
/GoogleCalendarDtoMeta.java
